body {
    margin-bottom: 50px;
    background-color: #fff
}
header{
    margin-bottom: 25px;
}
h1{
    text-align: left;
    font-size: 20px;
    margin-left: 15%;
}


/* about me page */
.am{
    font-family: 'Lobster', cursive;

}

#skills{
    align-items: center;
    text-align: center;
    
}
li{
    list-style: none;
}
#front{
    background-color: #FDFD96;
    margin:40px;
    height: 80%;
    border-radius: 10px;
    padding-top: 20px;
}

.fronttitle{
    border-bottom:  1px solid black;
}

.backtitle{
    border-bottom:  1px solid black;
}

#back{
    background-color: #a2caeb;
    margin: 20px;
    height: 80%;
    border-radius: 10px;
    padding-top: 20px;
   
}

.myphoto{
    height: 95%;
    box-shadow: 0px 5px 5px grey;
 

}



.aboutme{
    letter-spacing: 1px;
    line-height: 200%;
    text-align: center;
    color:#000;
    background-color: rgb(218, 240, 222);
    border-radius: 10px;
    font-size: 15px;
    height: 95%;
    padding: 25px;
    word-spacing: 3px;


}

.whatIwant{
    letter-spacing: 1px;
    text-align:center;
    letter-spacing: .5px;
    background-color:  #f5dcd6;
    border-radius: 10px;
    height: 95%;
    color: #000;
    line-height: 200%;
    padding: 25px;
    word-spacing: 3px;
   
}


/* portoflio page */
#day  {
    margin: 40px;
    box-shadow: 0px 5px 5px grey;
}

.projects {
    font-size: 50px;
    margin: 30px;
    border-bottom: 1px solid #000;
    padding-bottom: 15px;
}




/* Contact page */
.background-image{
    background-image: url(https://mgcreativedesign.files.wordpress.com/2014/11/website-design-background.png);
   background-repeat: no-repeat;
  

}
.contact{
    background-image: url(https://1.bp.blogspot.com/-lMg-uRzjXXQ/VWUVykvi6jI/AAAAAAAAAUA/SyND9ucVWU8/s1600/High%2BResolution%2BSpace%2BWallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.contact-form{
    width: 85%;
    max-width: 600px;
    background: #f1f1f1;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 0 20px #000000b3;
    font-family: "montserrat" , sans-serif;
}
.contact-form h1{
    margin-top: 0;
    font-weight: 200;
}
.txtb{
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
    
}
.txtb label{
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 15px;
}
.txtb input, .txtb textarea{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}
.btn{
    display: inline-block;
    background: #472753;
    padding: 14px 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
    width: 100px;
}
.navbar-toggler {
  background-color: rgb(30, 190, 253);
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;

}
.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(30, 190, 253);
} 
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: rgb(30, 190, 253);

}
.logo {
  
    font-size: 25px;
    letter-spacing: 15px;
    cursor: pointer;

}



/* .container{
    margin-top: 30px;
    line-height: 25px;
} */
/* .myphoto {
    width: 100%;
}
@media screen and (max-width: 768px) {
    body {
      background-color: rgb(96, 96, 96);
    }
    p {
        /* background-color: rgb(159, 158, 158); */
        /* color: #fff; */
    /* }
    h1{
        color: rgb(30, 190, 253);
    }
    .aboutme {
        color: #fff;
    }
  
  } */ 


